/* 1.42 Wizard */
.wizard-steps {
    display: flex;
    margin: 0 -10px;
    margin-bottom: 60px;
    counter-reset: wizard-counter;
}

.wizard-steps .wizard-step {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 30px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 10px;
}

.wizard-steps .wizard-step:before {
    counter-increment: wizard-counter;
    content: counter(wizard-counter);
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    background-color: #e3eaef;
}

.wizard-steps .wizard-step.wizard-step-active {
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #006FEB;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-active:before {
    background-color: #006FEB;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-success {
    background-color: #47c363;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-success:before {
    background-color: #47c363;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-danger {
    background-color: #fc544b;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-danger:before {
    background-color: #fc544b;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-warning {
    background-color: #ffa426;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-warning:before {
    background-color: #ffa426;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-info {
    background-color: #3abaf4;
    color: #fff;
}

.wizard-steps .wizard-step.wizard-step-info:before {
    background-color: #3abaf4;
    color: #fff;
}

.wizard-steps .wizard-step .wizard-step-icon .fas,
.wizard-steps .wizard-step .wizard-step-icon .far,
.wizard-steps .wizard-step .wizard-step-icon .fab,
.wizard-steps .wizard-step .wizard-step-icon .fal,
.wizard-steps .wizard-step .wizard-step-icon .ion {
    font-size: 34px;
    margin-bottom: 15px;
}

.wizard-steps .wizard-step .wizard-step-label {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

@media (max-width: 575.98px) {
    .wizard-steps {
        display: block;
    }

    .wizard-steps .wizard-step {
        margin-bottom: 50px;
    }
}
