/* 1.9 Date Range Picker */
.daterangepicker.dropdown-menu {
    width: auto;
}

.daterangepicker .input-mini {
    padding-left: 28px !important;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
    padding: 5px;
    font-size: 12px;
}

.ranges li {
    color: #006FEB;
}

.ranges li:hover,
.ranges li.active {
    background-color: #006FEB;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #006FEB;
}
